#about-container{
  /* background-color: rosybrown; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
  /* width: 900px; */
}

#about-header{
  font-size: 2em;
}
#about-content{
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  width: 900px;
}
#about-text{
  width: 700px;
}
#about-picture{
  background-image: url(https://i.imgur.com/VLNrCvG.jpg);
  height: 200px;
  width: 200px;
  border-radius: 5px;
  /* box-shadow: inset 0 0 2px #000000; */
  box-shadow: 0 10px 35px rgba(50,50,93,.1),0 2px 15px rgba(0,0,0,.07);
  /* top: -50px; */
  /* left: 10px; */
  /* position: relative; */
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  /* transition: all 300ms ease; */
  /* cursor: pointer; */
}
@media (max-width: 920px) and (min-width: 769px){
  #about-content{
    width: 100%;
  }
  #about-picture{
    /* width: 100%; */
  }
  #about-text{
    /* width:100%; */
  }
}
@media (max-width: 768px) {
  /* Mobile */
  #about-content{
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }
  #about-text{
    width: 100%;
  }
}