.App {

}

/* Tablet + Smaller size */
@media (max-width: 1106px) and (min-width: 769px){

  .App{
  }
  .homepage-text{
    font-size: 2.5em;
  }
  #homepage-container{
    width: 55%;
  }
}

/* Mobile */
@media (max-width: 768px) {
  /* #homepage-scroll{
    top: 100px;
  } */
  .homepage-text{
    font-size: 1.5em;
  }
  #homepage-container{
    width: 65%;
  }
}
