.heading-container{
  display: flex;
  flex-direction: column;
  /* width:100%; */
  /* justify-content: center; */
  /* align-content: center; */
}
.heading-title{
  font-size: 3em;
  display: flex;
  justify-content: center;
  margin: 20px 20px 0 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #2c2b2b;
}
.heading-desc{
  font-size: 1.25em;
  margin: 20px;
  font-family: 'Fira Sans', sans-serif;
  color: #2c2b2b;
}