#homepage-background{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  /* background-color: cornflowerblue; */
  /* background-image: url(../images/background.jpg); */
  background-position: center;
  /* background-position: 50% 50%; */
  background-size: cover;
  /* filter: blur(1px); */
}
#homepage-container{
  
}
#homepage-first-line{
  display: flex;
  flex-direction: row;
}
#homepage-space{
  margin-right: 5px;
}