#project-list-container{
  display: flex;
  flex-direction: column;
  width:100%;
  align-items: center;
}
.project-container{
  display:flex;
  flex-direction: row;
  /* background-color: aqua; */
  /* border: 1px solid black; */
  height: 450px;
  width: 1200px;
  /* width: 100%; */
  margin-bottom: 20px;
  /* border-radius: 5px; Not sure about this */
  
}
.project-image{
  display: flex;
  align-items: center;
  width: 50%;
}
.project-image img{
  max-width: 100%;
  position: relative;
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
  border-radius: 5px;
  /* box-shadow: 0 10px 35px rgba(50,50,93,.1),0 2px 15px rgba(0,0,0,.07); */
  box-shadow: 0 5px 8px 0 rgba(0,0,0,.2);
}
.project-content{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 10px; */
  /* margin: 10px; */
}
.project-name{
  font-size: 2em;
  /* margin: 5px 0 5px 5px; */
  font-family: 'Fira Sans', sans-serif;
  /* font-weight: 700px; */
  margin: 10px;
}
.project-desc{
  /* margin: 5px 5px 5px 5px; */
  margin: 10px;
}
.project-links{
  display: flex;
  justify-content: center;
  margin: 10px;
}
.project-links a{
  color: inherit;
  text-decoration:none; 
  cursor:pointer; 
}
@media (max-width: 1210px) and (min-width: 769px){
  .project-container{
    /* height: 250px; */
    width: 100%;
    flex-direction: row;
  }
}
@media (max-width: 768px) {
  /* Mobile */
  .project-container{
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .project-image{
    width: 60%;
  }
  .project-content{
    width: 100%;
  }
  .project-name{
    font-size: 2em;
  }
  .project-desc{
    font-size: 1em;
  }
  .project-links a{
    padding: 20px;
  }
}