#skill-list{
  display: flex;
  flex-direction: column;
  /* width: 900px; */
  width: 100%;
  /* justify-content: center; */
  align-items: center;
}

.skill{
  background-color: yellowgreen;
  height: 30px;
  width: 30px;
  margin: 20px;
}

.skill-row{
  display: flex;
}
@media (max-width: 900px) and (min-width: 769px){
  #skill-list{
    /* width: 100%; */
  }
}
@media (max-width: 768px) {
  #skill-list{
    /* width: 100%; */
  }
  .skill-row{
    width:100%;
    display: flex;
    justify-content: space-around;
  }
}