@import "./css/App.css";
@import "./css/Project.css";
@import "./css/Homepage.css";
@import "./css/Heading.css";
@import "./css/Navbar.css";
html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a.anchor {
  display: block;
  position: relative;
  top: -89px;
  visibility: hidden;
}
#skill-list{
  display: flex;
  flex-direction: column;
  /* width:100%; */
  /* justify-content: center; */
  align-items: center;
}

.skill{
  background-color: yellowgreen;
  height: 30px;
  width: 30px;
  margin: 20px;
}

.skill-row{
  display: flex;
}

#contact-container{
  background-color: grey;
  width: 100%;
  height: 150px;
}

#about-container{
  /* background-color: rosybrown; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
}

#about-header{
  font-size: 2em;
}
#about-content{
  font-size: 1.5em;
  display: flex;
}
#about-picture{
  background-image: url(https://i.imgur.com/VLNrCvG.jpg);
  height: 200px;
  width: 200px;
  border-radius: 5px;
  /* box-shadow: inset 0 0 2px #000000; */
  box-shadow: 0 10px 35px rgba(50,50,93,.1),0 2px 15px rgba(0,0,0,.07);
  /* top: -50px; */
  /* left: 10px; */
  /* position: relative; */
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  /* transition: all 300ms ease; */
  /* cursor: pointer; */
}