@import "./css/App.css";
@import "./css/Project.css";
@import "./css/Homepage.css";
@import "./css/Heading.css";
@import "./css/Navbar.css";
@import "./css/Skills.css";
@import "./css/About.css";
@import "./css/Contact.css";
html{
  min-height: 100vh;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-image: url(./images/background.svg);
  background-position: center;

  transition: 0.5s;
  background-size: cover;
  background-attachment: fixed;
}
body {
  /* height: 100vh; */
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
  min-height: 100%;
}
.App{
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-content: center; */
}
.blue-hr{
  width: 50px;
  height: 1px;
  border: 0;
  border-top: 2px solid #5fa5d1;
}
.wider-blue-hr{
  width: 200px;
  height: 1px;
  border: 0;
  border-top: 2px solid #5fa5d1;
}
.white-hr{
  width: 50px;
  height: 1px;
  border: 0;
  border-top: 2px solid white;
}
/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */
div.anchor {
  display: block;
  position: relative;
  top: -65px;
  visibility: hidden;
}
.light-text{
  color: #3a3a3a;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  /* border-radius: 10px; */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3e7fba; 
  /* border-radius: 10px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #275178; 
}

/*  */
/* Icons */
/*  */

#linkedin-homepage-icon{
  background-image: url(./images/linkedin.svg);
  /* filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%); */
}
#github-homepage-icon{
  background-image: url(./images/github.svg); 
}

.homepage-icon{
  
  height: 50px;
  width: 50px;
  /* width: auto; */
  transition: all 300ms ease;
}
.homepage-icon-spacing{
  margin: 20px 40px 0 0;
}
.homepage-icon:hover{
  transform: scale(0.9);
  opacity: 0.75;
}

/* Tablet + Smaller size */
@media (max-width: 1106px) {
  html{
    /* min-height: -webkit-fill-available; */
  }
  
}